.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
}

.login-footer {
    text-align: center;
    margin-top: 10px;
}

nav .admin-nav ul li {
    display: block;
}