[data-theme="yotsubab"] {
    /* Colores principales */
    --primary-color: #34345c;
    
    /* Backgrounds */
    --body-bg: #eef2ff;
    --body-bg-image: url('../imgs/blue.png');
    --content-bg: #e7ebfb;
    --form-bg: #d1d5ee;
    --reply-bg: #d1d5ee;
    --input-bg: #fff;
    --file-bg: #bfc4df;
    --button-bg: #bfc4df;
    --button-hover-bg: #989fc4;
    --boxbar-bg: #34345c;
    
    /* Borders */
    --border-color: #34345c;
    --border-style: 1px solid var(--border-color);
    --border-color-boards: #34345c;
    --border-style-boards: 1px solid var(--border-color-boards);
    
    /* Text colors */
    --text-color: #34345c;
    --button-text-color: #34345c;
    --text-light: #34345c;
    --link-color: #34345c;
    --boards-text-color: #fff;
    --placeholder-color: #34345c;

    /* Status colors */
    --danger-bg: #989fc4;
}

[data-theme="futaba"] {
    
    /* Backgrounds */
    --link-color: #00e;
    
    /* Typography */
    --font-family: 'Times New Roman', serif;
}

[data-theme="girls"] {
    /* Colores principales */
    --primary-color: #d41564;
    --primary-hover: #000;
    --secondary-color: #78526a;
    
    /* Backgrounds */
    --body-bg: #f9f9f9;
    --body-bg-image: url('../imgs/girls.png');;
    --content-bg: #fff;
    --form-bg: #f9f9f9;
    --reply-bg: #f9f9f9;
    --input-bg: #f9f9f9;
    --file-bg: #f9f9f9;
    --button-bg: #d41564;
    --button-hover-bg: #000;
    --boxbar-bg: #FCEFF3;
    
    /* Borders */
    --border-color: #ccc;
    --border-style: 1px solid var(--border-color);
    --border-color-boards: #ffa6c5;
    --border-style-boards: 1px solid var(--border-color-boards);
    
    /* Text colors */
    --text-color: #34345c;
    --button-text-color: #fff;
    --text-light: #34345c;
    --link-color: #d41564;
    --link-hover: #000;
    --boards-text-color: #EB176F;
    --placeholder-color: #34345c;

    /* Status colors */
    --danger-bg: #989fc4;
}

[data-theme="dark"] {
    /* Colores principales */
    --primary-color: #c5c8c6;
    --secondary-color: #81a2be;
    
    /* Backgrounds */
    --body-bg: #1d1f21;
    --body-bg-image: url('../imgs/dark.png');
    --content-bg: #1d1f21;
    --form-bg: #1d1f21;
    --reply-bg: #1d1f21;
    --input-bg: #1d1f21;
    --file-bg: #1d1f21;
    --button-bg: #1d1f21;
    --button-hover-bg: #2e3032;
    --boxbar-bg: #5F89AC;
    
    /* Borders */
    --border-color: #5F89AC;
    --border-style: 1px solid var(--border-color);
    --border-color-boards: #5F89AC;
    --border-style-boards: 1px solid var(--border-color-boards);
    
    /* Text colors */
    --text-color: #c5c8c6;
    --button-text-color: #c5c8c6;
    --text-light: #c5c8c6;
    --link-color: #81a2be;
    --boards-text-color: #fff;
    --placeholder-color: #c5c8c6;

    /* Status colors */
    --danger-bg: #2e3032;
}